.glass-effect {
  background: rgba(19, 10, 10, 0.267);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.486);
  transition: all 0.3s ease;
}

h2{
  color: #ffffff;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
  color: white; /* White text */
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-color: #e6e6e6;
  box-shadow: 0 0 0 0.2rem rgba(106, 107, 109, 0.596);
}


.form-control::placeholder {
  color: rgba(255, 255, 255, 0.945);
}


.btn:hover {
  background-color: #1d1c1c;
}

.login-box:hover{
  box-shadow: 0 12px 48px rgba(0, 86, 179, 0.4), 0 0 20px rgba(0, 86, 179, 0.2);
  transform: translateY(-5px);
}

.btn{
   background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.486);
  transition: all 0.3s ease;
  color: aliceblue;
}

body{
  background-image: url(../media/img/Homepage-Card-Cybertruck-Desktop-Dynamic-Asset.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-box{
  width: 450px;
  border: 15px;
}

@media (max-width:770px){
.login-box{
  width: 300px;
}
}